.novel-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
    overflow: hidden;
}

.novel-image {
    position: relative;
    width: 100%;
    height: 225px;
}

.novel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.novel-title {
    padding: 5px 10px;
    text-align: center;
    max-height: 60px;
}

.novel-title span {
    font-size: 14px;
    color: var(--color-text-primary);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.novel-item :hover {
    color: #3ea692;
}