.novel-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
    overflow: visible;
}

.novel-image-container {
    position: relative;
    width: 100%;
}

.novel-image {
    width: 100%;
    height: 225px;
}

.novel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.summary-overlay {
    position: absolute;
    top: 30px;
    left: calc(100% + 10px);
    width: 300px;
    background-color: #333333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    max-height: 300px;
    overflow: hidden;
}

.summary-overlay p {
    margin: 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.novel-image:hover+.summary-overlay,
.novel-image-container:hover .summary-overlay {
    opacity: 1;
}

.novel-title {
    padding: 5px 10px;
    text-align: center;
    max-height: 42px;
    overflow: hidden;
}

.novel-title span {
    font-size: 14px;
    color: var(--color-text-primary);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    text-decoration: none;
}

.novel-title span:hover {
    color: #3ea692;
}