.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pagination-button {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: #28a745;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.pagination-button:hover {
    color: #218838;
    text-decoration: none;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.page-input {
    padding: 5px;
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page-total {
    font-size: 16px;
    color: var(--color-text-primary);
}