.status-filter-container {
    border: 1px solid var(--color-border);
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    background-color: var(--color-background-filter);
    color: var(--color-text-primary);
}

.status-filter-header {
    background-color: var(--color-background-text-filter);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.status-checkboxes {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .status-checkboxes {
        max-height: none;
    }
}

.status-checkboxes div {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.status-checkboxes input[type="checkbox"] {
    margin-right: 8px;
}

.status-checkboxes label {
    font-size: 14px;
}

.apply-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.apply-button:hover {
    background-color: #218838;
}