.login-page {
    background: var(--color-background-gradient);
    width: 100vw;
    min-height: 100dvh;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-container {
    width: 90%;
    max-width: 350px;
    padding: 25px;
    background-color: var(--color-background-top-app-bar);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-text {
    font-size: 28px;
    color: var(--color-text-primary);
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-text-primary);
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    color: var(--color-text-primary);
}

.login-btn {
    padding: 14px;
    background-color: #375a7f;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.register-link {
    margin-top: 15px;
}

.register-link span:first-child {
    color: var(--color-text-primary);
}

.register-link-text {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--color-text-primary);
    font-size: 14px;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ddd;
    margin: 0 10px;
}

.login-container h2 {
    font-size: 16px;
    margin-top: 15px;
    color: #007bff;
    cursor: pointer;
}

.forgot-password {
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 480px) {
    .login-container {
        max-width: 100%;
        padding: 15px;
        box-shadow: none;
    }
}

@media (min-width: 768px) {
    .login-container {
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .login-container {
        max-width: 450px;
    }
}